<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:each="floor : ${floor}">
    <a  th:text="${floor.id + ' , ' +  floor.floorNumber + ' , ' + floor.house.houseName + ' , ' + floor.house.address }">profile</a>
    <br>
    <a th:href="@{/floor/{id}/edit(id=${floor.getId()})}">Edit</a>
    <br>
    <form method="post" th:action="@{/floor/{id}(id=${floor.id})}">
        <input type="submit" value="DELETE"/>
    </form>
</div>



<a href="/floor/create">Create new profile</a>

</body>
</html>