<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:method="POST" th:action="@{/tariff}" th:object="${tariff}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color:#ff0000" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">name Error</div>
    <br/>
    <label for="unit">Enter unit: </label>
    <input type="text" th:field="*{unit}" id="unit"/>
    <div style="color:red" th:if="${#fields.hasErrors('unit')}" th:errors="*{unit}">password Error</div>
    <br/>
    <label for="toPay">Enter to_pay: </label>
    <input type="text" th:field="*{toPay}" id="toPay"/>
    <div style="color:red" th:if="${#fields.hasErrors('toPay')}" th:errors="*{toPay}">password Error</div>


    <input type="submit" value="Create!"/>
</form>


</body>
</html>