<!-- Header -->
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>TEST</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">

		<link href="css/bootstrap.css" rel="stylesheet">
		<link href="css/bootstrap-responsive.css" rel="stylesheet">
		<link href="css/base.css" rel="stylesheet">
		<link href="css/flexslider.css" rel="stylesheet">
		<link href="css/prettyPhoto.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">
		<link href="css/lk.css" rel="stylesheet">
		
        <link rel="stylesheet" type="text/css" href="rs-plugin/css/settings.css" media="screen" />
		
        <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" media="screen">

		<link rel="shortcut icon" href="ico/favicon.ico">
	</head>

  <body>
  
<!-- prof-red -->	  
<div id="create-rashod">
    <a class="hiddenanchor" id="zatemnenie"></a>
    <a class="hiddenanchor" id="tologin"></a>
    <div id="wrapper">
        <div id="rashod" class="animate form">
		<a href="#close_window" class="close_window" style="position: absolute;right: 10px;top: 4px;border: none;font-size: 20px;">X</a>
<form>
    <label>Тип расхода </label>
    <input style="margin: 0% 0% 4px 0%; max-width:30%;" />
    <br/>
    <label style="margin: -10% 0% 0% 50%;" >Тип расхода </label>
    <input style="margin: 0% 0% 4px 50%; max-width:30%;" />
    <br/>
    <label>Тип расхода </label>
    <input style="margin: 0% 0% 4px 0%; max-width:30%;" />
    <br/>
    <label >Тип расхода </label>
    <input style="margin: 0% 0% 4px 0%; max-width:80%; height: 120px;" />

    <input style="margin: 3% 0% 0% 0%;" type="submit" value="Update!"/>

</form>
        </div>		
    </div>
	  
</div>
<!-- prof-red -->

<!-- prof-red -->	  
<div id="create-prihod">
    <a class="hiddenanchor" id="zatemnenie"></a>
    <a class="hiddenanchor" id="tologin"></a>
    <div id="wrapper">
        <div id="prihod" class="animate form">
		<a href="#close_window" class="close_window" style="position: absolute;right: 10px;top: 4px;border: none;font-size: 20px;">X</a>
<form>
    <label>Владелец квартиры </label>
    <input style="margin: 0% 0% 4px 0%; max-width:30%;" />
    <br/>
    <label style="margin: -10% 0% 0% 50%;" >Тип расхода </label>
    <input style="margin: 0% 0% 4px 50%; max-width:30%;" />
    <br/>
    <label>Тип расхода </label>
    <input style="margin: 0% 0% 4px 0%; max-width:30%;" />
    <br/>
    <label style="margin: -63.5px 0% 0% 50%;" >Тип расхода </label>
    <input style="margin: 0% 0% 4px 50%; max-width:30%;" />
    <br/>
	<label style="margin: 0% 0% 0% 50%;" >Тип расхода </label>
    <input style="margin: 0% 0% 4px 50%; max-width:30%;" />
    <br/>
    <label >Тип расхода </label>
    <input style="margin: 0% 0% 4px 0%; max-width:80%; height: 120px;" />

    <input style="margin: 3% 0% 0% 0%;" type="submit" value="Update!"/>

</form>
        </div>		
    </div>
	  
</div>
<!-- prof-red -->
   
      <div id="pattern_bg"></div> 
<div id="zatemnenie">
	

    <a class="hiddenanchor" id="zatemnenie"></a>
    <a class="hiddenanchor" id="tologin"></a>
    <div id="wrapper">
        <div id="login" class="animate form">
            <form  action="#" autocomplete="on"> <!-- Сыылка на скрипт -->
                <h1>Вход</h1> 
				       <a href="#close_window" class="close_window" style="position: absolute;right: 10px;top: 4px;border: none;font-size: 20px;">X</a>
                <p> 
                    <label for="username" class="uname" data-icon="u" > Ваш e-mail или логин</label>
                    <input id="username" name="username" required="required" type="text" placeholder="sitehere или sitehere.ru@my.com"/>
                </p>
                <p> 
                    <label for="password" class="youpasswd" data-icon="p"> Ваш пароль </label>
                    <input id="password" name="password" required="required" type="password" placeholder="например 123456" /> 
                </p>
                <p class="keeplogin"> 
                    <input type="checkbox" name="loginkeeping" id="loginkeeping" value="loginkeeping" /> 
                    <label for="loginkeeping">Запомнить меня</label>
                </p>
                <p class="login button"> 
                    <input href="vk.com" type="submit" value="Войти" /> 
                </p>
                <p class="change_link">
                    Не зарегистрированы еще ?
                    <a href="#zatemnenie2" class="to_register">Присоединяйтесь</a>
                </p>
            </form>
        </div>		
    </div>
	  
</div>

<div id="main_wrapper">
	<div class="main_wrapper_inner">
         
	</body>
	  <div class="header_top_second">

        <div class="container header_top_second_inner">
		 <div class="row">
		   <div class="span12">
<a href="/" class="logotype1"><span>ОСМД</span><div><b>"КАРУСЕЛЬ"</b></div></a>
			     <div class="header_top_inner1">
				         <!-- Старт Меню -->
					 <div class="main_menu">
						<nav id="dropdown">
							<ul class="sf-menu clearfix">								
								<li><a href="index.html" class="trigger"><span>Главная</span></a>
								</li>
								<li><a href="news.html" class="trigger"><span>Новости</span></a>
								</li>
								<li><a href="kvit.html" class="trigger"><span>Квитанции</span></a>
								</li>
								<li class="current"><a href="#zatemnenie" class="trigger"><span>Личный кабинет</span></a>
								</li>
							</ul>
						</nav>	
                       </div>						
			     </div>
                
                <!--<form>
						<fieldset class="search-form">
							<input class="search" type="text" placeholder="Поиск...">
							<div class="search-button" type="Найти"></div>
						</fieldset>
				</form>-->
			</div>
		   </div>
        </div>
       <div class="clear"></div>
     </div>

		
				
	 <div class="content_wrapper">	
	  <div class="content_wrapper_inner">
	<div class="clear"></div>
<!-- Header -->

<!-- nav-bok -->
<div class="sidenav">
  <a href="kvit.html">Квитанции</a>
  <br>
  <a href="tarif.html">Тарифы</a>
  <br>
  <a href="kassa.html">Касса</a>
  <br>
  <a href="news.html">Новости</a>
  <br>
  <a href="profile.html">Профиль</a>
</div>
<!-- nav-bok -->



<div class="prof6">
<h1>Касса</h1>
<div class="prof5">
<center>
<h2>111 111.00 грн</h2>
<p style="margin: -25px 0 0 0;">Состояние кассы</p>
</center>
</div>
<div style="margin: -90px 0px 0px 280px;" class="prof5">
<center>
<h2>111 111.00 грн</h2>
<p style="margin: -25px 0 0 0;">Баланс по счетам</p>
</center>
</div>
<div style="margin: -90px 0px 0px 560px;" class="prof5">
<center>
<h2>111 111.00 грн</h2>
<p style="margin: -25px 0 0 0;">Задолжность по счетам</p>
</center>
</div>
<a href="#create-prihod"><button style="margin: -170px 0px 0px 1040px; width:14%;">Создать приход</button></a>
<a href="#create-rashod"><button style="margin: -110px 0px 0px 1040px; width:14%;">Создать расход</button></a>
<table id="myTable4">
  <tr class="header">
    <th>Номер ведомости</th>
    <th>Дата</th>
	<th>Тип платежа</th>
	<th>Владелец</th>
	<th>Лицевой счет</th>
	<th>Приход/расход</th>
	<th>Сумма</th>
	<th></th>
  </tr>
  <tr>
    <td><input type="text" id="myInput" onkeyup=""></td>
    <td><input type="text" id="myInput" onkeyup=""></td>
	<td><select>
	<option value="367">Германия</option>
	<option value="340">Германия2</option>	
	<option value="369">Германия3</option>	
	<option value="370">Германия4</option>	
	<option value="371">Германия5</option>	
    </select></td>
	<td><input type="text" id="myInput" onkeyup=""></td>
	<td><input type="text" id="myInput" onkeyup=""></td>
	<td><select>
	<option value="367">Германия</option>
	<option value="340">Германия2</option>	
	<option value="369">Германия3</option>	
	<option value="370">Германия4</option>	
	<option value="371">Германия5</option>	
    </select></td>
	<td><a href=""></a></td>
	<td><a href=""></a></td>
  </tr>
  <tr>
    <td>Германия</td>
    <td>Германия</td>
	<td>Германия</td>
	<td>Германия</td>
	<td>Германия</td>
	<td>Германия</td>
	<td>Германия</td>
	<td><a href="">✎</a><a href=""><h6 style="margin: -22px 0px 0px 20px; font-size: 17px;">🛇</h6></a></td>
  </tr>
  <tr>
    <td>Германия</td>
    <td>Германия</td>
	<td>Германия</td>
	<td>Германия</td>
	<td>Германия</td>
	<td>Германия</td>
	<td>Германия</td>
	<td><a href="">✎</a><a href=""><h6 style="margin: -22px 0px 0px 20px; font-size: 17px;">🛇</h6></a></td>
  </tr>
  <tr>
    <td>Германия</td>
    <td>Германия</td>
	<td>Германия</td>
	<td>Германия Германия Германия</td>
	<td>Германия</td>
	<td>Германия</td>
	<td>Германия</td>
	<td><a href="">✎</a><a href=""><h6 style="margin: -22px 0px 0px 20px; font-size: 17px;">🛇</h6></a></td>
  </tr>
</table>
</div>

<!-- footer -->
         <footer id="footer">	   
			<div class="container">
			  <div class="footer_inner"> 
			  <div class="row">
			        
				 <div class="span3 widget">	
                      <h4 class="widget_title">О нас</h4>				 
                      <div class="widget_text">
                        <span class="foot_title">Название компании</span><br/>                       
                        <p>ХЗ</p>
						<div class="top10 clearfix"><p>ХЗ 
						ХЗ</p> </div>                       
                      </div>
					  <div class="clear"></div>
                 </div>
				 
				  <div class="span3 widget">
					<div class="clear"></div>
                 </div>
                
                <div class="span3 widget">
                    <div class="clear"></div>
                </div>
                          
              <div class="span3 widget">
                    <h4 class="widget_title">Контакты</h4>
                <div class="widget_text">
				    <div class="world_map"> 
                         <div class="icon_home sub_text2"> 27 Street, Road Norh, New York </div>	
                         <div class="icon_tele2 sub_text2"> +7 (201) 9-556-700</div>
                         <div class="icon_fax sub_text2"> +7 (201) 9-556-707</div>						 
                         <div class="icon_mail sub_text2"> <a href="#">support@managov.com</a></div>
                         <div class="icon_time sub_text2"> 8 AM -  5 PM  Always  24/7</div>
					</div>
                </div>
				<div class="clear"></div>
              </div>
			
			   </div>
			 </div>
            </div>
		 </footer> 
		 </div>
		 </div>
		 </html>
<!-- footer -->

<script src="../../../../../maks/js/jquery-1.8.3.js" type="text/javascript"></script>
<script src="../../../../../maks/js/bootstrap.js" type="text/javascript"></script>
<script src="../../../../../maks/js/jquery.carouFredSel-6.1.0-packed.js" type="text/javascript"></script>
<script src="../../../../../maks/js/jquery.tipsy.js" type="text/javascript"></script>
<script src="../../../../../maks/js/jquery.easing.1.3.js" type="text/javascript"></script>
<script src="../../../../../maks/js/jquery.flexslider-min.js" type="text/javascript"></script>
<script src="../../../../../maks/js/superfish.js" type="text/javascript"></script>
<script src="../../../../../maks/js/jquery.color.js" type="text/javascript"></script>
<script src="../../../../../maks/js/custom.js" type="text/javascript"></script>
<script src="../../../../../maks/js/jquery.appear.min.js" type="text/javascript"></script>
<script src="../../../../../maks/js/jquery.countto.js" type="text/javascript"></script>
<script src="../../../../../maks/js/jquery.cycle.all.js" type="text/javascript"></script>
<script src="../../../../../maks/js/modernizr.custom.js" type="text/javascript"></script>
<script src="../../../../../maks/js/jquery.fitvids.js" type="text/javascript"></script>
<script src="../../../../../maks/js/jquery.ui.totop.js" type="text/javascript"></script>
<script src="../../../../../maks/js/jquery.prettyPhoto.js" type="text/javascript"></script>
<script type="text/javascript" src="../../../../../maks/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="../../../../../maks/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic,300,300italic' rel='stylesheet' type='text/css'>