<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="utf-8">
    <title>TEST</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link th:href = "@{/styles/bootstrap.css}"  rel="stylesheet">
    <link th:href = "@{/styles/bootstrap-responsive.css}"   rel="stylesheet">
    <link th:href = "@{/styles/base.css}"   rel="stylesheet">
    <link th:href = "@{/styles/flexslider.css}"   rel="stylesheet">
    <link th:href = "@{/styles/prettyPhoto.css}" rel="stylesheet">
    <link th:href = "@{/styles/style.css}"   rel="stylesheet">
    <link th:href = "@{/styles/lk.css}"   rel="stylesheet">
    <link th:href = "@{/styles/font-awesome.min.css}"  href="/static/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="screen">
    <link th:href = "@{/styles/ico/favicon.ico}"  rel="shortcut icon" href="/static/ico/favicon.ico">
</head>

<body>

<div id="pattern_bg"></div>
<div id="zatemnenie">
    <?php include 'login.php';?>

</div>

<div id="main_wrapper">
    <div class="main_wrapper_inner">

    </div>
</div>
</body>

<div class="header_top_second">

    <div class="container header_top_second_inner">
        <div class="row">
            <div class="span12">
                <a href="/" class="logotype1"><span>ОСМД</span><div><b>"КАРУСЕЛЬ"</b></div></a>
                <div class="header_top_inner1">
                    <div class="main_menu">
                        <nav id="dropdown">
                            <ul class="sf-menu clearfix">
                                <li class="current"><a href="/" class="trigger"><span>Главная</span></a>
                                </li>
                                <li><a href="/news/list" class="trigger"><span>Новости</span></a>
                                </li>
                                <li><a th:href="@{/profile/}" class="trigger" th:method="GET"><span>Личный кабинет</span></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <!--<form>
						<fieldset class="search-form">
							<input class="search" type="text" placeholder="Поиск...">
							<div class="search-button" type="Найти"></div>
						</fieldset>
				</form>-->
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="content">

    <div class="content_wrapper">
        <div class="content_wrapper_inner">
            <div class="clear"></div>


<!-- Боковое меню -->
<div class="sidenav">
    <a href="kvit.php">Квитанции</a>
    <br>
    <a th:href="@{/tariff/}">Тарифы</a>
    <br>
    <a href="#" >Касса</a>
    <br>
    <a href="#">Квартиры</a>
    <br>
    <a href="#">Владельцы квартир</a>
    <br>
    <a href="#">Дома</a>
    <br>
    <a href="/news/list">Новости</a>
    <br>
    <a href="/meter">Показания счётчиков</a>
    <br>
    <a th:href="@{/profile/}">Профиль</a>
</div>
<!-- Боковое меню -->

<!-- Создание показний счётчика-->
<form th:method="POST" th:action="@{/meter}" >

    <label for="address">Адресс: </label>
    <select size="1" id="address" name="address" class="invoice" th:field ="${meter.flat.house.address}" >
        <option th:each="flat: ${flats}"  th:text="${flat.house.address}" th:value="${flat.house.address}"></option>
    </select>

    <br />
    <label for="section">Секция: </label>
    <select size="1"  id="section" name="section" class="invoice" th:field ="${meter.flat.section.sectionNumber}" >
        <option th:each="flat: ${flats}"  th:text="${flat.section.sectionNumber}" th:value="${flat.section.sectionNumber}"></option>
    </select>

    <br />
    <label for="flatNum">Номер квартиры: </label>
    <select size="1" id="flatNum" name="flatNum" class="invoice" th:field ="${meter.flat.flatNumber}" >
        <option th:each="flat: ${flats}"  th:text="${flat.flatNumber}" th:value="${flat.flatNumber}"></option>
    </select>
    <br />

    <label for="meterName">Счётчик: </label>
    <input type="text" th:value="${meter.meterName}" id="meterName" name="meterName"/>
    <div style="color:#ff0000" th:if="${#fields.hasErrors('meter.meterName')}" th:errors="${meter.meterName}">name Error</div>
    <br/>
    <label for="date">Дата: </label>
    <input type="date" th:value="${date}" id="date" name="date"/>
    <br/>
    <label for="meterReadings">Показания счётчика: </label>
    <input type="text" th:value="${meter.meterReadings}" id="meterReadings" name="meterReadings"/>
    <div style="color:#ff0000" th:if="${#fields.hasErrors('meter.meterReadings')}" th:errors="*{meter.meterReadings}">name Error</div>
    <br/>
    <label for="unit">Ед. измерения: </label>
    <input type="text" th:value="${meter.unit}" id="unit" name="unit" />
    <div style="color:#ff0000" th:if="${#fields.hasErrors('meter.unit')}" th:errors="${meter.unit}">name Error</div>
    <br/>
    <br/>
    <input type="submit" value="Create!"/>
</form>
<!-- Создание показний счётчика-->

<footer id="footer">
    <div class="container">
        <div class="footer_inner">
            <div class="row">

                <div class="span3 widget">
                    <h4 class="widget_title">О нас</h4>
                    <div class="widget_text">
                        <span class="foot_title">Название компании</span><br/>
                        <p>ХЗ</p>
                        <div class="top10 clearfix"><p>ХЗ
                            ХЗ</p> </div>
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="span3 widget">
                    <div class="clear"></div>
                </div>

                <div class="span3 widget">
                    <div class="clear"></div>
                </div>

                <div class="span3 widget">
                    <h4 class="widget_title">Контакты</h4>
                    <div class="widget_text">
                        <div class="world_map">
                            <div class="icon_home sub_text2"> 27 Street, Road Norh, New York </div>
                            <div class="icon_tele2 sub_text2"> +7 (201) 9-556-700</div>
                            <div class="icon_fax sub_text2"> +7 (201) 9-556-707</div>
                            <div class="icon_mail sub_text2"> <a href="#">support@managov.com</a></div>
                            <div class="icon_time sub_text2"> 8 AM -  5 PM  Always  24/7</div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>

            </div>
        </div>
    </div>
</footer>
</div>
</div>
</div>
</html>